<!-- extents -->
{% extends 'baseTemp.html' %}

<!-- title -->
{% block title %} About Us{% endblock title %}

<!-- Css file -->
{% block cssFiles %}
<link rel="stylesheet" href="css/style.css" />
{% endblock cssFiles %}

<!-- body -->
{% block body %}
<h1 style="text-align: center">About Project</h1>

<h2 style="text-align: center">
    VISUALIZING THE JOVIAN SYSTEM LIKE NEVER BEFORE
</h2>

<p>
    While NASA’s space probe Juno orbits the planet Jupiter and its moons, its
    visible-light camera, JunoCam, captures dazzling views of the Jovian system
    in spectacular detail. This web application provideds innovative ways to
    process JunoCam raw images for scientific, artistic, or other fun purposes.
</p>

<h1 style="text-align: center">Dev Team</h1>

<ul>
    <li>
        <p>
            Akhil B Xavier <br>
            I am a 3rd-year Electronics and Communication Engineering student at Albertian Institute of Science And Technology, Kalamassery.
            <a href="https://github.com/winter-x64">GitHub Profile</a>
        </p>
    </li>
    <li>
        <p>
        Annet Maria Cyriac <br>
        I am a 4th-year Electronics and Communication Engineering student at Albertian Institute of Science And Technology, Kalamassery.
        <a href="https://github.com/Annet-Maria">GitHub Profile</a></li>
    </p>
    <li>
        <p>
            Athira Rajesh <br>
            I am a 4th-year Electronics and Communication Engineering student at Albertian Institute of Science And Technology, Kalamassery.
            <a href="https://github.com/Athira-03">GitHub Profile</a>
    </p>
        </li>
    <li>
        Savanth PS <br>
        I am a 4th-year Electronics and Communication Engineering student at Albertian Institute of Science And Technology, Kalamassery.
        <a href="contact.asp">GitHub Profile</a>
    </li>

</ul>

{% endblock body %}
